[Unit]
Description=usb Video Stream Service
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/usbStream
User=pi
Type=idle
ExecStart=/home/pi/usbStream/venv/bin/python ./usbStream.py -file ./usbStream.config
Restart=always
[Install]
WantedBy=multi-user.target
